body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#player-container {
  justify-content: space-around;
  width: 600px;
  margin-top: 10px;
}

.player-one,
.player-two {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 30px;
  width: 265px;
  margin: 15px;
  /* background-color: burlywood; */
  justify-content: center;
  text-align: center;
  border: none;
  color: azure;
}

.blue {
  background-color: rgba(173, 216, 230, 0.7);
  box-shadow: 0 0 40px 10px lightblue; /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
  visibility: hidden;
}

.red {
  background-color: rgba(255, 0, 0, 0.7);
  box-shadow: 0 0 40px 10px red;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.game-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.tile {
  height: 190px;
  width: 190px;
  margin: 5px;
  background-color: lightgray;
}

#reset {
  width: 520px;
}
